{
  "presets": [
    [
      "@babel/env", {
        //按需加载
        "useBuiltIns": "usage",
        //指定core-js技术
        "corejs": {
          "version": 3
        },
        //指定兼容性版本
        "targets": {
          "chrome": "60",
          "firefox": "60",
          "ie": "9",
          "safari": "10",
          "edge": "17"

        }
      }
    ]
  ]
}